Graphics/CustomBattlers/local_sprites/*
Graphics/Battlers/Shiny/*

Graphics/CustomBattlers/spritesheets/*
Graphics/CustomBattlers/*
Data/VERSION
infinitefusion.sh
.gitignore
Game.rxproj
.DS_Store
PBS/*
rpgmaker.sh
